{{! make the _globals object in course.json available to this template}}
{{import_globals}}
<div class="article-inner">

    <div class="article-header">
        {{#if displayTitle}}
        <div class="article-title">
            {{#unless _disableAccessibilityState}}
                <div class="js-heading"></div>
            {{/unless}}
            <div class="article-title-inner" {{#unless _disableAccessibilityState}}aria-hidden="true"{{/unless}}>
                {{{compile displayTitle}}}
            </div>
        </div>
        {{/if}}

        {{#if body}}
        <div class="article-body">
            <div class="article-body-inner">
                {{{compile body}}}
            </div>
        </div>
        {{/if}}

        {{#if instruction}}
        <div class="article-instruction">
            <div class="article-instruction-inner">
                {{{compile instruction}}}
            </div>
        </div>
        {{/if}}
    </div>

    <div class="article-block-organise{{#if _articleBlockSlider._hasArrows}} has-arrows{{/if}}{{#if _articleBlockSlider._hasTabs}} has-tabs{{/if}}" role="region" {{#if _accessibility._ariaRegions.articleBlockSlider}}aria-label="{{_accessibility._ariaRegions.articleBlockSlider}}"{{/if}}>

      <div class="article-block-toolbar clearfix">
        <div class="item-button-container clearfix">
          {{#if _articleBlockSlider._hasButtons}}
          <button class="button navigation-button" data-block-slider="right" aria-label="{{_globals._accessibility._ariaLabels.next}}"></button>
          <button class="button navigation-button" data-block-slider="left" aria-label="{{_globals._accessibility._ariaLabels.previous}}"></button>
          {{/if}}

          {{#if _articleBlockSlider._hasArrows}}
	        <button class="base item-button-arrow" data-block-slider="right" aria-label="{{_globals._accessibility._ariaLabels.next}}">
            <div class="icon icon-controls-right"></div>
	        </button>
          <button class="base item-button-arrow" data-block-slider="left" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
            <div class="icon icon-controls-left"></div>
	        </button>
	        {{/if}}

          {{#if _articleBlockSlider._hasTabs}}
	          {{#each _itemButtons}}
	          <button class="base item-button {{_className}}" aria-label="{{_title}}" data-block-slider="index" data-block-slider-index="{{this._index}}"><span class="item-button-inner">{{_title}}</span></button>
	          {{/each}}
	        {{/if}}
        </div>
      </div>

      {{#if _articleBlockSlider._progressLocation}}
	    <div class="article-block-progressbar article-block-progressTop">
  			{{#each _itemButtons}}
        <div class="toolbar-progress component-item-color component-item-border" data-block-slider-progress="index" data-block-slider-index="{{this._index}}"></div>
  			{{/each}}
      </div>
	    {{/if}}

	    <div class="article-block-slider clearfix" {{#if _articleBlockSlider._minHeight}}style="min-height: {{{_articleBlockSlider._minHeight}}}px"{{/if}}>
        <div class="block-container clearfix">
	      </div>
	    </div>

	    {{#if _articleBlockSlider._progressLocation}}
	    <div class="article-block-progressbar article-block-progressBottom">
  			{{#each _itemButtons}}
  			<div class="toolbar-progress component-item-color component-item-border" data-block-slider-progress="index" data-block-slider-index="{{this._index}}"></div>
  			{{/each}}
  		</div>
	    {{/if}}

	</div>
</div>
